.container{
  min-height: 100vh;
}

.sideNav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  width: min(15rem,25%);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 2rem;
  /* overflow-x: hidden; */
}

.navIcon{
  margin: 0.4rem 0.5rem;
}

.sideNavBottom{
  font-size: 0.8rem;
}

.navBottomhr{
  width: 100%;
  height: 0.1rem;
  background-color: rgb(201, 201, 201);
  margin-top: 1rem;
}



.brand{
  height: 5em;
}
.brandLogo{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}
.brandLogoContainer{
  margin-right: .2em;
  position: relative;
  height: 1.5rem;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.brandLogoContainer > *{
  background-color: var(--primary-accent-color);
}
.brandLogoContainer > *:nth-child(1){
  background-color: var(--primary-text-color);
  border-radius: 100vh 100vh 100vh 0;
}
.brandLogoContainer > *:nth-child(2){
  border-radius: 0 100vh 100vh 100vh;
}
.brandLogoContainer > *:nth-child(3){
  border-radius: 100vh 100vh 0 100vh;
}
.brandLogoContainer > *:nth-child(4){
  border-radius: 100vh 0 100vh 100vh;
}


.navList > li{
  padding: .5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}
.navList > li[active=true]{
  position: relative;
  font-weight: bold;
  color: var(--primary-accent-color);
}
.navList > li[active=true]::before{
  content: "";
  position: absolute;
  width:100%;
  height: 100%;
  left: -2rem;
  background: linear-gradient(90deg, rgba(22,205,151,0.20) 25%, rgba(255,255,255,0) 50%); 
}

.mainContent{
  position: relative;
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-left: min(calc(15rem - 2rem),25%);
  min-height: 100vh;
}

.mainContentContainer{
  width: 100%;
  max-width: 2000px;
}


.mainGrid{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto repeat(5,1fr);
  gap: 1.5rem;
}

.col{
  position: relative;
  /* height: 100%; */
  min-height: 5rem;
  overflow: hidden;
  padding :1.5rem;
  display: flex;
  flex-direction: column;

  /* display: grid;
  place-items: center; */
}

.col:nth-child(1){
  grid-row: 1/2;
  grid-column: 1/4;
  height: min-content;
}
.col:nth-child(2){
  grid-row: 2/5;
  grid-column: 1/3;
}
.col:nth-child(3){
  grid-row: 2/5;
  grid-column: 3/4;
}
.col:nth-child(4){
  grid-row: 5/7;
  grid-column: 1/2;
}
.col:nth-child(5){
  grid-row: 5/7;
  grid-column: 2/3;
}
.col:nth-child(6){
  grid-row: 5/7;
  grid-column: 3/4;
}

.graphHeading{
  /* display: none; */
  color: rgba(15, 15, 15, 0.801);
  font-weight: 600;
  font-size: 1.2rem;
}

.sketchContainer{
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  aspect-ratio: 1.61/1;
  overflow-y: scroll;
  flex-grow: 1;
}

.stats{
  position: relative;
  display: grid;
  
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: 1fr;
}

.statItem{
  position: relative;
  flex-grow: 1;
  height: 4rem;
  display: flex;
  flex-direction: row;
}

.statLogoContainer{
  position: relative;
  height: 100%;
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
}

.statLogo{
  display: grid;
  place-items: center;
  background-color: var(--tert-accent-color);
  height: 80%;
  border-radius: 100vh;
  aspect-ratio: 1/1;
  color: white;
}

.statText{
  padding: 0 1rem;
}
.statHeading{
  font-size: 2rem;
  font-weight: bold;
}

.statSubtext{
  font-size: 0.85rem;
  color: rgb(112, 112, 112);
}






.agentContainer{
  width: 100%;
}

.agentList{
  display: flex;
  flex-direction: column;
}

.agentInfo{
  height: 100%;
  width: 100%;
  min-height: 5rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4.5rem .6fr .3fr .1fr;
}
.agentImage{
  position: relative;
  overflow: hidden;
  border-radius: 100vh;
  height: 70%;
  aspect-ratio: 1/1;
}

.agentName{
  display: flex;
  flex-direction: column;
  margin: auto 1rem;
  overflow: hidden;
}


.agentNameSub{
  font-size: .8rem;
  color: gray;
}

.agentChats{
  display: grid;
  overflow: hidden;
  place-items: center;
}
.menuDots{
  display: grid;
  place-items: center;
}

@media only screen and (max-width: 1350px) {
  .mainGrid{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto repeat(7,1fr);
    gap: 1.5rem;
  }

  .col:nth-child(1){
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .col:nth-child(2){
    grid-row: 2/5;
    grid-column: 1/3;
  }
  .col:nth-child(3){
    grid-row: 5/7;
    grid-column: 1/2;
  }
  .col:nth-child(4){
    grid-row: 5/7;
    grid-column: 2/3;
  }
  .col:nth-child(5){
    grid-row: 7/9;
    grid-column: 1/2;
  }
  .col:nth-child(6){
    grid-row: 7/9;
    grid-column: 2/3;
  }

  .statItem{
    flex-direction: column;
  }
  .statLogoContainer{
    display: none;
  }
  .statText{
    padding: 0 1rem;
  }
}


@media only screen and (max-width: 800px) {
  
  .mainContent{
    margin-left: 0;
    margin-top: 4rem;
  }
  .mainGrid{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .stats {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
  }

  .sideNav{
    background-color: white;
    flex-direction: row;
    overflow:hidden;
    width: 100%;
    height: 5rem;
  }

  .sideNavTop{
    display: flex;
    flex-direction: row;
  }

  .navList{
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .stats {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
  }
}


