.container{
    /* background-color: aquamarine; */
    min-height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: .5rem;
    margin-bottom: 1.5rem;
}

.heading{
    font-size: 2em;
}

.right{
    position: relative;
    height: fit-content;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem; 
}

.rightTextContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    /* white-space: nowrap; */
}
.rightImageContainer{
    margin-left: 1.5rem;
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    aspect-ratio: 1/1;
}

@media only screen and (max-width: 700px) {

    .container{
        flex-direction: column;
    }

}